.ratingWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}



.greenInfo{
    color: #6dc849;
    margin-right: 5px;
}

.releseInfo{
    display: block;
    color: #ffffff;
    margin-right: 8px;
}

.info{
    display: flex;
    justify-content: space-between;
   
}

.relese_Wrapper{
    
}

